<div class="form-container">
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" class="form-signin login-form">
    <h3 class="txt-color-mg">Sign Up</h3>

    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="txt-error">{{ errorMessage }}</div>

    <!-- Email -->
    <label for="inputEmail" class="sr-only">Email:</label>
    <input name="email" type="email" id="inputEmail" class="form-control" ngModel required email />
    <div *ngIf="registrationForm.controls['email']?.invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)">
      <div *ngIf="registrationForm.controls['email'].errors?.['required']" class="txt-error">Email is required.</div>
      <div *ngIf="registrationForm.controls['email'].errors?.['email']" class="txt-error">Invalid email address.</div>
    </div>

    <!-- Password -->
    <label for="password" class="sr-only">Password:</label>
    <input type="password" id="password" name="password" class="form-control" ngModel minlength="8" required />
    <div *ngIf="registrationForm.controls['password']?.invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)">
      <div *ngIf="registrationForm.controls['password'].errors?.['required']" class="txt-error">Password is required.</div>
      <div *ngIf="registrationForm.controls['password'].errors?.['minlength']" class="txt-error">Password must be at least 8 characters long.</div>
    </div>

    <!-- Confirm Password -->
    <label for="confirmPassword" class="sr-only">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ngModel minlength="8" required />
    <div *ngIf="registrationForm.controls['confirmPassword']?.invalid && (registrationForm.controls['confirmPassword'].dirty || registrationForm.controls['confirmPassword'].touched)">
      <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['required']" class="txt-error">Confirm Password is required.</div>
      <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['minlength']" class="txt-error">Confirm Password must be at least 8 characters long.</div>
      <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['matchingPasswords']" class="txt-error">Passwords do not match.</div>
    </div>

    <!-- First Name -->
    <label for="firstName" class="sr-only">First Name:</label>
    <input type="text" id="firstName" name="firstName" class="form-control" ngModel required />
    <div *ngIf="registrationForm.controls['firstName']?.invalid && (registrationForm.controls['firstName'].dirty || registrationForm.controls['firstName'].touched)" class="txt-error">
      First Name is required.
    </div>

    <!-- Last Name -->
    <label for="lastName" class="sr-only">Last Name:</label>
    <input type="text" id="lastName" name="lastName" class="form-control" ngModel required />
    <div *ngIf="registrationForm.controls['lastName']?.invalid && (registrationForm.controls['lastName'].dirty || registrationForm.controls['lastName'].touched)" class="txt-error">
      Last Name is required.
    </div>

    <!-- Username -->
    <label for="username" class="sr-only">Username:</label>
    <input type="text" id="username" name="username" class="form-control" ngModel required />
    <div *ngIf="registrationForm.controls['username']?.invalid && (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)" class="txt-error">
      Username is required.
    </div>

    <!-- Sign Up and Already User Links -->
    <div class="row">
      <div class="col-8 mt-2 anchor" (click)="openLoginPage()">Already User?</div>
      <div class="col-4">
        <button class="btn btn-lg btn-primary btn-block mt-2 right-corner" [disabled]="!registrationForm.valid" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
</div>
